<section class="product_section layout_padding">
      <div class="container">
         <div class="heading_container heading_center">
            <h2>
               Our <span>products</span>
            </h2>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add to cart
                        </a>
                        <a href="addCard/62f0d0e1d173edff1fa0748c" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images1.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price1}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d0e1d173edff1fa0748c" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image2.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                       ${{price2}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d3590fb8df16234006cf" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image3.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                     ${{price3}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d3910fb8df16234006d1" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images5.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price4}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d42b71d59a3ab8bc2548" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images5.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price5}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d46d71d59a3ab8bc254c" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images6.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price6}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d47b71d59a3ab8bc254e" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image7.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price7}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d48b71d59a3ab8bc2550" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images8.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price8}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d4ad71d59a3ab8bc2552" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image9.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price9}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d4b371d59a3ab8bc2554" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images10.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price10}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d4c171d59a3ab8bc2556" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image11.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price11}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f0d4d371d59a3ab8bc2558" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images12.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price12}}
                     </h6>
                  </div>
               </div>
            </div>
         </div>
         <div class="btn-box">
            <a href="">
               View All products
            </a>
         </div>
      </div>
   </section>